<div *ngIf="saved" class="alert alert-success text-center" role="alert">
  {{savedMessage}}
</div>
<div>
      <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">OS</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="OS" (change)="findOSVersions($event.target.value)">
                  <option *ngFor="let item of OStypes" value="{{item}}">{{item}}</option>      
                </select>
              </div>
        </div>
        <div class="col-sm">
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">OS Version</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="OSVersion" (change)="findBrowsers()">
                      <option selected>Choose...</option>
                      <option *ngFor="let item of OSversions" [ngValue]="item">{{item.version}}</option>      
                    </select>
                  </div>
            </div>
        </div>
            <div class="col-sm">
                <div class="input-group mb-3" *ngIf="OSVersion == undefined">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Browser</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                    </select>
                  </div>

                  <div class="input-group mb-3" *ngIf="OSVersion != undefined">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Browser</label>
                      </div>
                      <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="browser" (change)="selectBrowser()">
                        <option selected>Choose...</option>
                        <option *ngFor="let item of OSVersion.browsers" [ngValue]="item">{{item.name}}</option>      
                      </select>
                    </div>
          </div>
          <div class="col-sm">
              <div class="input-group mb-3" *ngIf="OSVersion == undefined">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Resolutions</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                  </select>
                </div>

                <div class="input-group mb-3" *ngIf="OSVersion != undefined">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Resolutions</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="resolution" (change)="selectResolutions()">
                      <option selected>Choose...</option>
                      <option *ngFor="let item of OSVersion.resolutions" [ngValue]="item">{{item.name}}</option>      
                    </select>
                  </div>
            </div>
      </div>    
    </div>

    <div *ngIf="testRun != undefined" class="row"> 
        <div class="col-sm"></div>
      <div class="col-sm">
          <div class="form-check text-center">
              <input class="form-check-input" type="checkbox" [(ngModel)]="testRun.flosum_qa__Record_video__c" id="defaultCheck1"/>
              <label class="form-check-label" for="defaultCheck1">
                Record Video
              </label>
            </div>
      </div>
      <div class="col-sm">
          <div class="form-check text-center">
              <input class="form-check-input" type="checkbox" [(ngModel)]="testRun.flosum_qa__Record_network__c" id="defaultCheck1"/>
              <label class="form-check-label" for="defaultCheck1">
                  Record Network
              </label>
            </div>
      </div>
      <div class="col-sm"></div>
    </div>

    <div class="row">
        <div class="col-sm text-center">
            <button type="button" class="btn btn-primary" (click)="saveTestRun()">Save settings for Tests</button>
        </div>
    </div>

<div >
  <div class="row">
    <div class="col-sm" style="margin:10px;">
      <div *ngIf = "testArr.length === 0">
        <p>
          Loading data...
        </p>
    
      </div>
      <div *ngIf = "testArr.length != 0">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="currentTestName" (change)="changeTEst($event.target.value)">
            <option selected value="Choose...">Choose...</option>
            <option *ngFor="let item of testArr" value="{{item.value}}">{{item.test}}</option>
            <!-- <option value="2">Two</option>
            <option value="3">Three</option> -->
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm" style="margin:10px;text-align: center;">
      <button type="button" class="btn btn-primary" (click)="createNewTest()">Create new test</button>
    </div>
  </div>
</div>

<div  *ngIf = "currentTest != undefined">
<div>
  <ul class="nav justify-content-center">
    <li class="nav-item" style="margin: 10px;">
      <button type="button" class="btn btn-primary" (click)="runTest()">Run Test</button>
    </li>
    <li class="nav-item" style="margin: 10px;">
      <button type="button" class="btn btn-primary" (click)="saveTest()">Save Test</button>
    </li>    
  </ul>
</div>
<div>
  <div class="row">
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">File Name</span>
            </div>
            <input type="text" class="form-control" (input)="fileNameChange($event.target.value)" [value]="currentTest.flosum_qa__File_Name__c">
          </div>
          <ngx-monaco-editor style="min-height: 600px; width:98%; overflow: auto;" [options]="editorOptions" [(ngModel)]="text"></ngx-monaco-editor>
      <!-- <div ace-editor
      [(text)]="text"
      [mode]="'sql'" 
      [theme]="'dracula'"
      [options]="options"
      [readOnly]="false"
      [autoUpdateContent]="true"
      (textChanged)="onChange($event)"
      style="min-height: 200px; width:100%; overflow: auto;"></div> -->

    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Test Name</span>
            </div>
            <input type="text" class="form-control" (input)="testNameChange($event.target.value)" [value]="currentTest.Name">
          </div>
          <ngx-monaco-editor style="min-height: 600px; width:98%; overflow: auto;" [options]="editorOptions" [(ngModel)]="text2"></ngx-monaco-editor>
      <!-- <div ace-editor
      [(text)]="text2"
      [mode]="'sql'" 
      [theme]="'dracula'"
      [options]="options"
      [readOnly]="true"
      [autoUpdateContent]="true"
      style="min-height: 200px; width:100%; overflow: auto;"></div> -->
    </div>
  </div>
  <div class="row">
    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="testResponce" rows="3"></textarea>
  </div>
</div>
</div>
        